*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*----------navigation stuff----------*/

.nav-button-close {
  position: fixed;
  right: 5vh;
  top: 5vh;
  font-size: 2rem;
  color: black;
}

.nav-button-open {
  position: fixed;
  right: 5vh;
  top: 5vh;
  font-size: 2rem;
  color: rgb(196, 137, 252);
  z-index: 2;
}

.navigation {
  background-image: radial-gradient(#ffc0cb, #0000ff);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 3;
  transition-duration: all 2s;
}

.navigation-hidden {
  display: none;
}

.navigation__list {
  text-align: center;
  height: 99vh;
  width: 99vw;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.navigation__list-item a,
.navigation__list-item a:link,
.navigation__list-item a:active,
.navigation__list-item a:visited {
  color: black;
}

/*----------about----------*/

.section__about {
  background-color: rgb(36, 36, 36);
  color: white;
  text-align: center;
  width: 100vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
}

.about__header {
  background-image: linear-gradient(to right, #0000ff, #ffc0cb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 2rem;
  margin-top: 25vh;
}

.about__info {
  margin-top: 20vh;
}

.about-text {
  margin-top: 5vh;
  color: grey;
}

/*----------technology----------*/
.tech-intro {
  text-align: center;
  margin-bottom: 10vh;
  padding: 0 10% 0 10%;
}

.tech__box-list {
  list-style: none;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.tech__box-list-item {
  justify-self: center;
}

.tech__box-image {
  height: 10vh;
  width: auto;
  margin-top: 5vh;
}

/*----------projects----------*/

.section__projects {
  overflow: hidden;
}

.project-intro {
  text-align: center;
  margin-bottom: 10vh;
  padding: 0 10% 0 10%;
}

.project__box-list-item {
  background-color: rgba(36, 36, 36, 0.5);
  margin-bottom: 5vh;
  height: 50vh;
  width: 100vw;
  transform: skew(45deg);
  position: relative;
  border-radius: 10px;
  box-shadow: 6px 7px 6px rgba(0, 0, 0, 0.3);
}

.project__box-list-item:not(:first-child) {
  margin-top: 15vh;
}

.list-item-box {
  position: absolute;
  width: 45vh;
  height: 45vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(-45deg);
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  box-shadow: 6px 7px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  overflow: scroll;
}

.project__box-list-item-name {
  font-size: 1.5rem;
}

.project__box-list-item-description {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.project__box-list-item-technologies {
  color: rgb(146, 146, 146);
  text-align: center;
}

.link-box {
  display: flex;
  justify-content: space-evenly;
}

.link-box p,
.link-box p:link,
.link-box p:active,
.link-box p:visited {
  color: pink;
}

.list-item-photo-box {
  width: 100vw;
  height: 20vh;
  background-color: lightgrey;
  margin-bottom: 5vh;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2.5vh;
  box-shadow: 6px 7px 6px rgba(0, 0, 0, 0.3);
}

.project-image {
  margin-top: 2.5vh;
  margin-right: 2.5vh;
  height: 15vh;
  width: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26);
}

/*----------contact----------*/

.section__contact {
  background-image: linear-gradient(to right, #0000ff, #ffc0cb);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.contact__header {
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.contact__intro {
  padding: 0 10% 10% 10%;
}

.contact__list-link,
.contact__list-link:link,
.contact__list-link:active,
.contact__list-link:visited {
  color: black;
  font-size: 2em;
}

.contact__box-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-bottom: 10%;
}

/*----------heading styles for classes in any section----------*/

.about__intro {
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.473);
}

.colorful-header {
  background-image: linear-gradient(to right, #0000ff, #ffc0cb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 1.8rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

h2.colorful-header {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* .header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

@media only screen and (min-width: 800px) {
  .colorful-header {
    font-size: 2rem;
  }
  .about__header {
    font-size: 4rem;
  }

  .about-intro {
    font-size: 2rem;
  }
  .about-text {
    font-size: 1.5rem;
  }

  .tech-intro {
    font-size: 1.5rem;
  }

  .project-intro {
    font-size: 1.5rem;
    padding-bottom: 10vh;
  }

  .tech__box-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .tech__box-image {
    height: 10vh;
    width: auto;
    margin-top: 15vh;
  }

  .project__box-list-item:not(:first-child) {
    margin-top: 0vh;
  }

  .list-item-photo-box {
    border-radius: 10px;
  }
  .project__box-list {
    margin-left: 10vh;
    margin-right: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50vh 20vh 50vh 20vh;
    list-style: none;
    grid-gap: 5vh;
  }

  .project__box-list-item-1 {
    width: 40vw;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .list-item-photo-box-1 {
    width: 40vw;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .project__box-list-item-2 {
    width: 40vw;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .list-item-photo-box-2 {
    width: 40vw;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .project__box-list-item-3 {
    width: 40vw;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .list-item-photo-box-3 {
    width: 40vw;
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .project__box-list-item-4 {
    width: 40vw;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .list-item-photo-box-4 {
    width: 40vw;
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .project__box-list-item {
    transform: skew(0deg);
  }

  .list-item-box {
    transform: skew(0deg) translate(-50%, -50%);
  }

  .contact__header {
    font-size: 2rem;
  }
}

@media only screen and (max-height: 600px) {
  .colorful-header {
    background-image: linear-gradient(to right, #0000ff, #ffc0cb);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 1.5rem;
  }

  .section__about {
    height: 100%;
    padding-bottom: 10%;
  }

  .projects__header {
    font-size: 1.8rem;
    padding-top: 3%;
  }

  .project-intro {
    margin-bottom: 5%;
  }

  .technology__header {
    font-size: 1.8rem;
    padding-top: 3%;
  }

  .list-item-box {
    padding: 2%;
    width: 60%;
  }

  .project__box-list-item-name {
    padding-bottom: 1%;
  }

  .project__box-list-item-description {
    padding: 0;
    padding-bottom: 2%;
    font-size: 0.8rem;
  }

  .project__box-list-item-technologies {
    font-size: 0.8rem;
    padding-bottom: 2%;
  }

  .link-box p,
  .link-box p:link,
  .link-box p:active,
  .link-box p:visited {
    font-size: 0.8rem;
  }

  .section__contact {
    margin-top: 10vh;
    height: 90vh;
  }

  .contact__header {
    padding: 0;
  }

  .contact__intro {
    padding: 0;
  }

  .contact__list-link,
  .contact__list-link:link,
  .contact__list-link:active,
  .contact__list-link:visited {
    font-size: 1.5rem;
  }

  .contact__box-list {
    padding-bottom: 0%;
  }
}
